@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap);

#greeting {
    display: flex;
    position: relative;
    width: 100%;
    height: calc(100vh - 146px);
    background-size: cover;
    padding: 0;
    z-index: 0;
}