.hidden #contact {
    display: none;
}

#contact {
    display: flex;
    justify-content: center;
    background-color: #212529;
    padding-top: 20px;
}

#contacts-holder {
    display: flex; flex-direction: column;
    align-items: center; justify-content: center;
    width: 100%;
    max-width: 600px;
}

.link-wrap {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 5px;
    align-items: center;
    width: 100%;
    max-width: 1250px;
    padding: 0 20px;
    margin: 20px auto;
}

.link-wrap {
    display: flex; flex-direction: column;
    justify-content: space-between;
    width: auto;
    padding: 5px;
    margin-left: auto;
    margin-right: 20px;
}

.contact-element {
    display: flex; flex-direction: row;
    align-items: center;
    margin-right: auto;
    z-index: 4;
}

.contact-icon {
    padding-right: 10px;
}

.external-link {
    color: #212529;
    text-decoration: none;
    z-index: 4;
}
.commissions {
    padding-bottom: 10px;
}

.commissions {
    display: flex; flex-direction: column;
    color: #DEE2E6;
    
    text-decoration: none;
    margin: auto;
    padding-bottom: 10px;
    z-index: 4;
}
.commissions > span {
    margin: auto;
}

.menu-item:hover,
.external-link:hover {
    color: #ADB5BD;
    transition: color .2s;
}

@media only screen and (max-width: 650px) {
    /* .contact-element {
        margin: 0;
        margin-right: auto;
    } */
}