@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap);

#mobile-menu {
    display: flex;
}
#desktop-menu {
    display: none;
    justify-content: space-between;
    background-color: #212529;
    width: 100%;
}

.menu-wrapper {
    display: flex;
    /* position: absolute; */
    background-color: #212529;
    width: 100%;
    z-index: 100;
}

.menu-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1250px;
    margin: auto;
}

.nav-menu {
    width: auto;
    height: 60px;
    display: flex;
    flex-direction: row;
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;

    button, span {
        color: white;
    }
}

.mobile-nav-menu {
    display: flex;
    flex-direction: column;
}

.mobile-nav-menu a {
    color: #E9ECEF;
    font-size: 20px;
    line-height: 2;
}

#signature img {
    height: 60px;
    width: auto;
    float: left;
}

.contact-button {
    background-color: #212529;
    position: relative;
}

.accordion-wrap {
    background-color: #212529 !important;
    position: relative;
}

.contact-expanded {
    display: flex; flex-direction: column;
    width: auto;
    /* right: 0; */
    /* padding: 16px !important; */
    z-index: 100;
}

.contact-expanded a {
    color: #E9ECEF;
    padding: 4px;
}

.menu-item {
    color: #DEE2E6;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

a.menu-item:hover {
    color: #DEE2E6;
}

#hamburger-icon {
    color: #DEE2E6;
    font-size: 1.1em;
}

#accordion-button {
    background-color: #212529;
    padding: 0;
    padding-right: 15px;
}

#accordion-details {
    background-color: #212529;
}

.clear {
    clear: both;
}

@media (min-width: 767px) {
    #mobile-menu { display: none; }
    #desktop-menu { display: flex; }
}